.card-talent{

    width: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    cursor: pointer;

    box-shadow: 0px 1px 10px black;
    border-radius: 25px;
    overflow: hidden;
    //background-color: rgba($color: #3f3d3d, $alpha: 0.5);
    //background-color: white;

    transition: all 0.2s;

    &:hover{

        //background-color: rgba($color: #3f3d3d, $alpha: 0.8);
        box-shadow: 0px 2px 15px black;
        transform: scale(1.05);


    }

    .card-talent__avatar{

        height: 400px;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        &::after{

            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            height: 140px;
            width: 100%;
            background: linear-gradient(    
                to bottom,
                transparent 0%,
                rgba(0, 0, 0, 0.65) 40%,
                rgb(0, 0, 0, 0.9) 100%);
            //background-color: rgba($color: #000000, $alpha: 0.6);
            border-radius: 0px 0px  20px 20px;

        }
    }


    .card-talent__infos{

        z-index: 2;

        position: absolute;
        bottom: 15px;

        //background-color: rgba($color: #000000, $alpha: 0.8);
        width: 100%;
        /*
        height: 100%;
        width: 100%;

        gap: 20px;*/

        &-1{

            width: 100%;
            justify-self: flex-start;

            h2, p{


                color: rgb(255, 255, 255);

            }


            h2{

                text-align: center;
                font-size: 25px;
                font-weight: 600;


            }


            p{

                text-align: center;
                font-size: 16px;
                font-weight: 400;

            }

        }

    }

}