.hero-section{

    min-height: 100vh;
    display: flex;

    align-items: center;
    justify-content: space-around;

    .hero-section__text{

        display: flex;
        flex-direction: column;
        color: black;

        h1{

            font-size: 60px;
            font-weight: 600;

        }

        h2{

            font-size: 18px;

        }

    }


    .hero-section__img-div{

        width: 400px;
        overflow: hidden;
        border-radius: 20px;

        img{


            width: 100%;

        }

    }

}