.talents-page{
    min-height: 100vh;
    padding: 175px 15px 45px 15px;
    


    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    background-color: #008371;


    .talents-page__title{

        font-size: 35px;
        font-weight: 600;
        color: white;

    }

    .talents-page__gallery{

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

}


@media screen and (max-width: 1300px) {
    

    .talents-page{

        padding-top: 130px;

    }

}